{% extends "teamshifts/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
  {% if object %}{% trans "Edit template" %}{% else %}{% trans "New template" %}{% endif %} :: {{ request.event.name }}
{% endblock %}

{% block teamshifts_header %}
        <h1>{% if object %}{% trans "Edit template" %}{% else %}{% trans "New template" %}{% endif %}</h1>
{% endblock %}

{% block teamshifts_content %}
    <form method='post' class='form-horizontal'>
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_field form.name layout="control" %}
    {% bootstrap_field form.subject layout="control" %}
    {% bootstrap_field form.body layout="control" %}
    <div class='form-group submit-group'>
      <a href='{% url "plugins:teamshifts:email_templates" organizer=request.organizer.slug event=request.event.slug %}'
         class='btn btn-default'>
        {% trans "Cancel" %}
      </a>
      <button type='submit' class='btn btn-primary'>
        {% if object %}{% trans "Save" %}{% else %}{% trans "Create" %}{% endif %}
      </button>
    </div>
  </form>
{% endblock %}
