{% extends "agenda/base.html" %}
{% load i18n %}
{% load static %}
{% load vite %}

{% block container_width %} main-schedule{% endblock %}
{% block pagetitle %}{% trans "Shift Schedule" %} :: {{ event.name }}{% endblock %}

{% block agenda_custom_header %}
{% endblock %}

{% block header_right %}
  {% include "common/fragment_header_user.html" with current_event=request.event nav_context="agenda" %}
{% endblock header_right %}

{% block agenda_content %}
{% if not shift_schedule_published %}
<div class="alert alert-info m-4">
  {% trans "The shift schedule has not been published yet. Please check back later." %}
</div>
{% else %}
<div id="fahrplan" class="grid">
  <script id="pretalx-schedule-data" type="application/json">{{ schedule_data_json|safe }}</script>
  {% vite_app_scripts 'schedule' 'src/main-wc.js' fallback='schedule/pretalx-schedule.js' %}
  <pretalx-schedule
    event-url="{{ request.event.urls.base }}"
    locale="{{ request.LANGUAGE_CODE }}"
    timezone="{{ event_tz }}"
    style="--pretalx-clr-primary: {{ request.event.visible_primary_color }}"
    disable-auto-scroll
  ></pretalx-schedule>
  <noscript class="d-block">
    <div class="alert alert-info m-4">
      {% trans "Please enable JavaScript to view the shift schedule." %}
    </div>
  </noscript>
</div>
{% endif %}
{% endblock agenda_content %}
